
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');

*{
    font-family: 'Readex Pro', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image:url(https://i.pinimg.com/originals/dc/43/bf/dc43bf76b42cd50eb028cecc24f9f75a.png);
    background-size: cover;
}



form{ 
    margin: 50px;
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white ;
    height: 400px;
    width: 420px;
    border-radius: 30px;
}

img{
    width: 40%;
}

.btn{

    background-color:rgb(33, 190, 177) ;
    color: white;
    border: none;
    width: 50%;
    height: 10%;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    
}



.hidden{
    visibility: hidden;
}

